body, html{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#CanvasDiv{
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#Home{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*top: 2.5%;*/
    height: 600px;
    width: 1280px;
    border-style: solid;
    border-color: black;
}


#AboutMeRow, #SkillsRow, #ProjectRow{

}

#AboutMeRow{
    padding: 100px;
}

#Skills{
    margin-bottom: 100px;
}

#SkillsRow{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
}


.title{
    color: #E85A4F;
    font-family: 'Song Myung', serif;
    text-align: center;
    /*Relative placements are messing up my resizing*/
}

#MyPic{
    width: 200px;
    height: 200px;
}

.col-md-4{
    text-align: center;
}

#AboutMeInnerRow{
    padding: 20px;
}


.description{
    font-family: 'Lato', sans-serif;

}

.projectDescription{
    font-family: 'Lato', sans-serif;
    text-align: center;
}


/*This css concerns the carousel*/
.carousel-inner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control-prev{
    /*This gives control over where the button is placed, not the button itself*/

}

.carousel-caption{
    background-color: white ;
    border-style: solid;
    border-color: black;
}

.captionHeader{
    color: #E85A4F;
    font-family: 'Song Myung', serif;
}

.captionDesc{
    font-family: 'Lato', sans-serif;
    color: black;
}

/*Everything pertaining to the footer and links below*/
#footerContent{
    text-align: center;
    letter-spacing: 10px;
}

#footer{
    height: 60px;
    background-color: #8E8D8A;
    font-size: 35px;
}

a:link{
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
    text-decoration: none;

}