body {
    font-family: 'Roboto';font-size: 22px;


}


.Home{
    background-image: url("../images/DeskPlaceholder.jpg");

    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutme{
    postion: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.homeTitle{
    text-align: center;
}

.textOne{

}

/*Circle image should float left of the text in the div*/