html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';font-size: 22px;

}


.Home{
    background-image: url("../images/DeskPlaceholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%
}

.AboutMe{
    height: 100%
}

.Skills{
    height: 100%
}
.homeTitle{
    text-align: center;
}

.textOne{
    text-align: center;
}

/*Circle image should float left of the text in the div*/