html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}


.infoBlock, .infoRow{
    height: 100%;
}

#Home{
    background-image: url("../images/DeskPlaceholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    text-align: center;
}

#Banner1, #Banner2, #JavaBanner, #WebBanner, #ProjectBanner, #Home, #AboutMe{
    border: dotted;
}

#AboutMeDesc{
    float: right;
}

#Banner1{
    background-color: orange;
}

.description{
    margin: auto;
    width: 60%;
}
#AboutMe{
    margin: auto;
    width: 60%;
}



.footer{
    bottom: 0px;
    width: 100%;
    margin: 0;
    background-color: lightgrey;
    border: dotted;
    height: 100px;
}
