body, html{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#home{
    height: 100%;
    border: dotted;
}

#contentBlock{
    height: 300%;
    border: dotted;

}

.row{
    height: 33.33%;
    border: dotted;
    overflow: hidden;
}


#myDiv1{
    border: #ff000f;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}