body, html{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#CanvasDiv{
    height: 100%;
    border: dotted;
    overflow: hidden;
}

#contentBlock{
    height: 300%;
    border: dotted;

}

.row{
    height: 33.33%;
    border: dotted;
    overflow: hidden;
}


h1{
    text-align: center;
}

p{
    size: 100px;
    text-align: center;
}

.carousel-inner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: dotted;
    opacity: 0.5;
}

#footer{
    height: 80px;
    border-style: solid;
    border-color: red;
}